# Ignore files and directories in the python folder
*.csv
release/
releaseme.py
*.ipynb
config.json
tradebot.log
lifec_tb.code-workspace
skeleton_main2.py
skeleton_main_org.py
# Additionally, if you want to ignore these directories anywhere
release/
__pycache__/
